page-home {
  .home {
    background: rgba(2, 1, 2, 0.28);
  }

  ion-card {
    position: relative;
    text-align: left;
    background-color: rgba(2, 1, 2, 0.18);
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    text-align: center;
  }

  ion-title {
    text-align: center;
  }

  #chat-popover {
    top: 70px;
    left: 5%;
    height: 80%;
    width: 90%;
  }

  .sessionEnd {
    filter: grayscale(100%);
  }

  .popover.content .popover.md {
    top: 70px;
    left: 5%;
    height: 80%;
    width: 90%;
  }

  .chat-popover .popover.content {
    top: 70px;
    left: 5%;
    height: 80%;
    width: 90%;
  }


}


